/* CORE STYLING */

html, body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

/* section{
height: 100%;
width: 100%;
display: inline-block;
} */
.cursive{
    font-family: 'Satisfy',cursive;
}

.text-align-center{
    text-align: center;
}

.offset:before{
    display: block;
    content: "";
    height: 6rem;
    margin-top: -2rem;
}
/* HEADER */
header {
width: 100%;
height: 100%;
background: url('https://images.pexels.com/photos/860707/pexels-photo-860707.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center center no-repeat;
background-size: cover;
position: relative;
}

.overlay{
    background-color: rgba(57, 57, 57, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header-text{
    color: #f2f2f0;
    text-align: center;
    font-size: 24px;
    /* TODO: apply a header font */
}

.display-3{
    color: #efecec;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* NAVBAR */
/* .navbar{
    <!--TODO: apply opacity-->
}  */

/* #About */
#about{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 50px 75px;
    background-color: rgb(43, 43, 43);
    color: #efecec;
}

#about .cursive{
    font-size: 30px;
}

div .indent{
text-indent: 50px;
}

/* #EVENTS */

#events{
    width: 100%;
    height: 70%;
    display: inline-block;
    background-color: rgb(43, 43, 43);
}

#events .row{
    margin: 0 50px;
}

.card{
    color: #efecec;
}

#events .card{
    background-color: rgb(68, 67, 67);
}

#events .btn {
    background-color: rgb(43, 43, 43);
    border: none;
}

/* #FOLLOW */

#follow{
    width: 100%;
    height: 70%;
    display: inline-block;
    background-color: rgb(43, 43, 43);
}

#follow .container{
    text-align: center;
}

#follow .row{
    margin: 300px 50px;
}

.fab{
    text-align: center;
    color: rgb(92, 90, 90);
    font-size: 3rem;
}

#contact{
width: 100%;
height: 80%;
display: inline-block;
background-color: rgb(43, 43, 43);
color: rgb(128, 128, 128);
}

#contact .container {
    padding: 100px 150px;
}

.form-top{
    margin-top: 30px;
}
.panel{
    /* box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12); */
    /* border-radius: 10px; */
    /* border: 0; */
    border: none;
    padding: 0 50px;
}
@-moz-document url-prefix() {
    .form-control{
        height: auto;
    }
}

footer {
    text-align: center;
    position: relative;
    background-color: rgb(43, 43, 43);
}

footer .container{
padding: 5%;
}

footer a{
    color: #efecec;
    text-decoration: underline;
}

footer a:hover{
    color: #1ebba3;
}

.copyright{
    color: #efecec;
}

.designed-by{
    color: #efecec;
}

@media(max-width: 768px){
    .display-3{
        font-size: 3.5rem!important;
    }

    #about{
        height: auto;
        padding: 0 25px; 
    }
    #events{
        height: auto;
    }
    #events .row{
        margin: 0 20px;
    }

    #events .card{
        margin: 1rem;
        text-align: center;
    }

    #follow{
        width: 100%;
        height: auto;
        display: inline-block;
        background-color: rgb(43, 43, 43);
        /* background-color: red; */
    }
    
    #follow .container{
        padding: 10px;
    }
    
    #follow .row{
        text-align: center;
        margin: 150px 50px;

    }
    
    .fab{
        font-size: 5rem;
        margin: 2rem;
        /* text-align: center; */
    }

    #contact{
        width: 100%;
        height: auto;
        display: inline-block;
        background-color: rgb(43, 43, 43);
        color: rgb(128, 128, 128);
        }

    /* Contact form */
    #contact .contact-form{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }

    #contact .container {
        padding: 25px;
    }

    footer{
        height: auto;
    }
}